$White: #FFFFFF;
$Grey-White: #f4f4f4;
$White-Grey: #f2f2f2;
$Light-Grey: #ccc;
$Dark-Grey: rgb(92, 91, 91);
$Black-Grey: #1F2223;
$Grey-Black: #1E2122;
$Grey-Black-Darker: #181A1B;
$Blue: #004e92;
$LightBlue: #3391ff;
$Cyan: #09eff7;
$Teal: #74C3FF;
$Black: #2b2b2b;

