<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Kaelan Reece</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
	<header>
		<div class="nav-wrapper">
			<section id="header-image">
				<img src="/Images/WolfLogo.png" id="header-icon" />
			</section>
			<section id="header-name">
				<h1>Kaelan Reece</h1>
			</section>
			<nav class="navbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-page="/Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-page="/About">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-page="/Blogs">Blog</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main role="main">
		@RenderBody()
	</main>

	<footer>
		<div class="container">
			<section class="social-links">
				<a href="https://www.linkedin.com/in/kaelan-reece/">
					<object type="image/svg+xml" data="/Images/Social/linkedin.svg">
						Your browser does not support SVG
					</object>
				</a>
				<a href="https://github.com/KaeIan/">
					<object type="image/svg+xml" data="/Images/Social/github.svg">
						Your browser does not support SVG
					</object>
				</a>
			</section>
			<section>
				&copy; Copyright Kaelan Reece 2021
			</section>
		</div>
	</footer>

	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
