<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Kaelan Reece</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
	<header>
		<div class="container">
			<img src="/Images/WolfLogo.png" id="header-icon" />
			<nav class="navbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-page="/Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-page="/About">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-page="/Blogs">Blog</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer>
		<div class="container">
			&copy; 2021 - Kaelan Reece
		</div>
	</footer>

	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
