@import "scss/Colors.scss";

$header-color: $Black;
$header-height: 4rem;

header {
	background-color: $header-color;
	box-shadow: 0 0.55rem 0.75rem rgba(0, 0, 0, 0.05);
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.98;

	#header-name {
		h1 {
			padding-left: 2rem;
			color: white;
		}
	}

	#header-image {
		display: flex;
		align-items: center;
		padding-left: 1rem;

		img {
			height: 3rem;
			border-radius: 2rem;
		}
	}
}
