@import "scss/Colors.scss";
@import "scss/Variables.scss";

header {
	// background-color: $Black;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;

	#header-name {
		display: flex;
		align-items: center;
		span {
			padding-left: 2rem;
			color: white;
			font-size: x-large;
		}
		span::after {
			content: var(--site-owner);
		}
	}

	#header-image {
		display: flex;
		align-items: center;
		padding-left: 1rem;

		img {
			height: 3rem;
			border-radius: 2rem;

			@media only screen and (max-width: 1000px) {
				height: 2rem;
			}
		}
	}
}

.nav-background {
	width: 100%;
	height: $NavbarHeight;
	background-color: $Black;
	position: sticky;
	top: 0;
	z-index: 2;
	box-shadow: 0 0.55rem 0.75rem rgba(0, 0, 0, 0.05);
	opacity: 0.98;
}
