.nav-wrapper {
	display: flex;
	height: $header-height;
}

nav {
	display: flex;
	align-items: center;
	margin-left: auto;
	padding-right: 3rem;
}

nav > ul > li {
	display: inline;
	list-style-type: none;
	align-items: center;

	a {
		text-decoration: none;
		color: white;
		padding-left: 1rem;

		&:hover {
			color: grey;
		}
	}
}
nav > a {
	color: white;
}
.navbar-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
