@import "scss/Variables.scss";
@import "scss/Colors";

.nav-wrapper {
	display: flex;
	height: $NavbarHeight;

	section {
		display: flex;
	}
	@media only screen and (max-width: 1000px) {
		display: block;
		nav {
			display: flex;
			justify-content: center;
		}
	}
}

nav {
	display: flex;
	align-items: center;
	margin-left: auto;
	padding-right: 3rem;
}

nav > ul > li {
	display: inline;
	list-style-type: none;
	align-items: center;

	a {
		text-decoration: none;
		color: white;
		padding-left: 1rem;

		&:hover {
			color: whitesmoke;
		}
	}
}
nav > a {
	color: white;
}
.navbar-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	.active::before {
		height: 2px;
		width: 20px;
		background-color: $LightBlue;
		font-weight: 700;
		box-sizing: border-box;
		content: "";
		font-weight: 600;
		position: absolute;
		bottom: 1rem;

		@media only screen and (max-width: 1000px) {
			bottom: 0.5rem;
		}
	}
}
