@import "scss/Pages/Blogs.scss";
@import "scss/Pages/BlogList.scss";
@import "scss/Shared/Header.scss";
@import "scss/Shared/Nav.scss";
@import "scss/Colors.scss";
@import "scss/Variables.scss";

h1,
h2,
h3 {
	color: $Blue;
}

h1 {
	font-size: xxx-large;
	margin: 0;
}

html {
	font-size: 14px;
	font-family: sans-serif;
}

li {
	list-style-type: disclosure-closed;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

main {
	margin-top: $NavbarHeight;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	background-color: $Grey-White;
}

footer {
	position: absolute;
	width: 100%;
	white-space: nowrap;
	line-height: 30px;

	section.social-links {
		a {
			text-decoration: none;
		}
	}
}

#user-icon {
	height: 3rem;
	border-radius: 2rem;
}
