@import "scss/Pages/Blogs.scss";
@import "scss/Pages/BlogList.scss";
@import "scss/Pages/Index.scss";
@import "scss/Pages/About.scss";
@import "scss/Shared/Header.scss";
@import "scss/Shared/Nav.scss";
@import "scss/Colors.scss";
@import "scss/Variables.scss";

h1,
h2,
h3 {
	color: var(--color-heading);
}

h1 {
	font-size: xxx-large;
	margin: 0;
	@media only screen and (max-width: 1000px) {
		font-size: x-large;
	}
}

#theme {
	-webkit-mask-image: var(--theme-icon);
	mask-image: var(--theme-icon);
	background-color: var(--color-icon);
	height: 35px;
	width: 35px;
	display: block;
	align-items: center;
}

#theme-wrapper {
	position: relative;
	z-index: 1;
}

#theme-button {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;

	border-radius: 50%;
	// border: solid 1px #555;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	height: 45px;
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--color-page-background-contrast);

	&:hover {
		background-color: var(--color-text);

		#theme {
			cursor: pointer;
			background-color: var(--color-highlight-icon);
		}
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

html {
	font-size: 18px;
	font-family: Verdana, sans-serif;
}

p,ul {
	line-height: 1.75;
}

a {
	color: var(--color-link);
}

section {
	color: var(--color-text);
}

ul > li {
	list-style-type: disclosure-closed;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	background-color: var(--color-page-background);
}

footer {
	position: absolute;
	width: 100%;
	white-space: nowrap;
	line-height: 30px;
	bottom: -7rem;

	section.social-links {
		a {
			height: 24px;
			width: 24px;
			display: inline-block;
			text-decoration: none;
			margin-left: 0.5rem;
			background-color: var(--color-icon);
		}
		a.linkedin {
			-webkit-mask-image: url("/Images/Social/linkedin.svg");
			mask-image: url("/Images/Social/linkedin.svg");
		}
		a.github {
			-webkit-mask-image: url("/Images/Social/github.svg");
			mask-image: url("/Images/Social/github.svg");
		}
		a.mail {
			-webkit-mask-image: url("/Images/Social/mail.svg");
			mask-image: url("/Images/Social/mail.svg");
		}
	}
}

#user-icon {
	height: 3rem;
	border-radius: 2rem;
}

.portrait {
	border-radius: 50%;
	height: 10rem;
	width: 10rem;
}

.recent {
	margin-top: 1rem;
}
