@import "scss/Pages/Blogs.scss";
@import "scss/Pages/BlogList.scss";
@import "scss/Pages/Index.scss";
@import "scss/Pages/About.scss";
@import "scss/Shared/Header.scss";
@import "scss/Shared/Nav.scss";
@import "scss/Colors.scss";
@import "scss/Variables.scss";

h1,
h2,
h3 {
	color: $Blue;
}

h1 {
	font-size: xxx-large;
	margin: 0;
	@media only screen and (max-width: 1000px) {
		font-size: x-large;
	}
}

html {
	font-size: 14px;
	font-family: Verdana, sans-serif;
}

li {
	list-style-type: disclosure-closed;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	background-color: $Grey-White;
}

footer {
	position: absolute;
	width: 100%;
	white-space: nowrap;
	line-height: 30px;
	bottom: -7rem;

	section.social-links {
		a {
			height: 24px;
			width: 24px;
			display: inline-block;
			text-decoration: none;
			margin-left: 0.5rem;
		}
		a.linkedin {
			background-image: url("/Images/Social/linkedin.svg");
		}
		a.github {
			background-image: url("/Images/Social/github.svg");
		}
		a.mail {
			background-image: url("/Images/Social/mail.svg");
		}
	}
}

#user-icon {
	height: 3rem;
	border-radius: 2rem;
}

.portrait {
	border-radius: 50%;
	height: 10rem;
	width: 10rem;
}

.recent {
	margin-top: 1rem;
}
