#blog-list-wrapper {
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

#blog-list-header {
	width: 100%;
}

.blog-list {
	display: grid;
	grid-template-columns: 50% 50%;

	.blog-list-item {
		margin-left: 2.5rem;
		margin-top: 2.5rem;
		background-color: #ffffff;
		display: grid;
		grid-template-columns: 45% 55%;

		.blog-description {
			padding-left: 1rem;
			position: relative;

			.tags-wrapper {
				position: absolute;
				bottom: 0;
				margin-bottom: 0.5rem;

				.tags {
					display: block;

					.blog-tag {
						padding: 0.25rem;
						background-color: #f2f2f2;
						color: #557db2;
					}
				}
			}

			.blog-metadata {
				font-style: italic;
			}
		}
	}
}

.blog-header {
	background-color: #131b44;
	margin: 0;
	width: 100%;
	height: 9rem;
	display: inline-block;
	margin-top: 4rem;
	span,
	h2 {
		color: white;
		padding-left: 15%;
	}
}
