@import "scss/Animations.scss";
@import "scss/Colors.scss";

.blog-body-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.blog-body {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	box-shadow: 0 0.25rem 0.5rem rgba(0.05, 0.05, 0.05, 0.15),
		0 0.25rem 0.5rem rgba(0.05, 0.05, 0.05, 0.23);

	@media only screen and (max-width: 1000px) {
		width: 100%;

		div {
			overflow: scroll;
			margin-left: auto;
			margin-right: auto;
			width: 95%;
		}

		h1,
		h2,
		h3,
		h4,
		p {
			padding-left: 24px;
			padding-right: 24px;
		}
		background-color: #ffffff;

		padding-left: 0rem;
		padding-right: 0rem;
	}
	padding-top: 2rem;
	padding-bottom: 2rem;

	width: 60%;
	padding-left: 4rem;
	padding-right: 4rem;
	position: relative;

	blockquote {
		position: relative;
		background-color: $White;
		p::before {
			background-color: $Blue;
			position: absolute;
			height: 100%;
			width: 3px;
			// left: -0.5rem;
			left: 0rem;
			content: '';
		}
		p {
			padding-left: 0.5rem;
		}
	}

	p > img {
		height: auto;
		max-width: 80%;
		display: block;
		margin: auto;

		@media only screen and (max-width: 1000px) {
			max-width: 100%;
		}
	}

	p > code {
		background-color: #1e1e1e;
		color: whitesmoke;
		padding: 0.15rem;
	}

	div > pre {
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	}
}

.thumbnail {
	height: 100%;
	width: 100%;
	opacity: 0.85;

	&:hover {
		opacity: 1;
	}
}

.blog-details {
	display: flex;
	margin-top: 1rem;
	p {
		font-style: italic;
		padding-left: 1rem;
	}
}

.blog-header-image {
	height: auto;
	max-width: 80%;
	display: block;
	margin: auto;
}

.author-name {
	color: $Blue;
	font-size: xx-large;
	@media only screen and (max-width: 1000px) {
		font-size: x-large;
	}
}

.author-details {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.author-info {
	display: flex;
	margin-top: 1.5rem;
	img {
		height: 4rem;
		border-radius: 2rem;
	}
}
