@import "scss/Animations.scss";
@import "scss/Colors.scss";

.blog-body-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.blog-body {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	box-shadow: 0 0.25rem 0.5rem rgba(0.05, 0.05, 0.05, 0.15),
		0 0.25rem 0.5rem rgba(0.05, 0.05, 0.05, 0.23);

	@media only screen and (min-width: 1000px) {
		width: 60%;
		padding-left: 4rem;
		padding-right: 4rem;
	}
	background-color: #ffffff;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.thumbnail {
	height: 100%;
	width: 100%;
	opacity: 0.85;

	&:hover {
		opacity: 1;
	}
}

.blog-details {
	display: flex;
	margin-top: 1rem;
	p {
		font-style: italic;
		padding-left: 1rem;
	}
}

.blog-header-image {
	height: auto;
	max-width: 80%;
	display: block;
	margin: auto;
}

.author-name {
	color: $Blue;
	font-size: xx-large;
	@media only screen and (max-width: 1000px) {
		font-size: x-large;
	}
}

.author-details {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.author-info {
	display: flex;
	margin-top: 1.5rem;
	img {
		height: 4rem;
		border-radius: 2rem;
	}
}
