@import "scss/Animations.scss";

.blog-body-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.blog-body {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	box-shadow: 0 0.25rem 0.5rem rgba(0.05, 0.05,0.05,0.15), 0 0.25rem 0.5rem rgba(0.05, 0.05,0.05,0.23);
	width: 80%;
	background-color: #ffffff;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
}

.thumbnail {
	height: 15rem;
	width: 100%;
	opacity: 0.85;

	&:hover {
		opacity: 1;
	}
}

.blog-details {
	display: flex;
	margin-top: 1rem;
	p {
		font-style: italic;
		padding-left: 1rem;
	}
}

.blog-header-image {
	width: 80%;
	display: block;
	margin: auto;
}
