@import "scss/Colors.scss";
@import "scss/Animations.scss";

#blog-list-wrapper {
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

#blog-list-header {
	width: 100%;
	background-color: #131b44;
	margin: 0;
	height: 12rem;
	display: inline-block;
	span,
	h2 {
		color: white;
		padding-left: 5%;
	}

	.container {
		height: 100%;
	}
}

.blog-tag {
	padding: 0.25rem;
	background-color: #f2f2f2;
	color: #557db2;
}

.blog-search {
	display: flex;
	justify-content: center;

	margin-top: 3rem;

	input[type="text"] {
		padding: 0.5rem 0.5rem;
		width: 20rem;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
}

.blog-list {
	display: grid;
	grid-template-columns: 100%;
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;

	@media only screen and (min-width: 1000px) {
		grid-template-columns: 50% 50%;
	}
	flex-wrap: wrap;

	.blog-list-item {
		@media only screen and (min-width: 1000px) {
			flex: 40%;
			margin-left: 2.5rem;
			margin-right: 2.5rem;
			margin-top: 2.5rem;
			height: 20rem;
			flex-direction: row;
		}
		margin-top: 1rem;
		flex: 100%;
		background-color: #ffffff;
		display: flex;
		flex-direction: column-reverse;
		box-shadow: 0 0.25rem 0.5rem rgba(0.05, 0.05, 0.05, 0.15),
			0 0.25rem 0.5rem rgba(0.05, 0.05, 0.05, 0.23);

		a.blog-list-thumbnail {
			@media only screen and (min-width: 1000px) {
				width: 45%;
			}

			div {
				display: flex;
				align-items: center;
				height: 100%;

				@media only screen and (max-width: 1000px) {
					justify-content: center;
				}
			}
			width: 100%;
		}
		.blog-description {
			@media only screen and (min-width: 1000px) {
				width: 55%;
				margin-bottom: 0rem;
			}
			margin-bottom: 5rem;
			padding-left: 1rem;
			position: relative;

			h2 > a {
				color: $Blue;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			.tags-wrapper {
				position: absolute;
				margin-top: 0.5rem;
				@media only screen and (min-width: 1000px) {
					bottom: 0;
					margin-bottom: 0.5rem;
				}
			}

			.blog-metadata {
				font-style: italic;
				margin-bottom: 0.5rem;
			}
		}
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	a {
		margin-top: 0.25rem;
		margin-left: 0.25rem;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.search-icon-wrapper {
	position: relative;
}

.search-icon {
	background: transparent url("/Images/Icons/search.svg") 0 0 no-repeat;
	background-size: cover;
	background-position: center;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border: 0;
	height: 1rem;
	width: 1rem;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
}

.icon {
	display: inline-block;
	height: 1rem;
	width: 1rem;
}

.flipped {
	transform: rotate(180deg);
}

.pagination {
	display: flex;
	justify-content: center;
	a {
		text-decoration: none;
	}

	span {
		align-self: center;
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
