#home-header {
	width: 100%;
	background-color: #1C1E2A;
	background-image: url("/Images/Backgrounds/gc_2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	height: 30rem;
	display: inline-block;
	span,
	h2 {
		color: white;
		padding-left: 5%;
	}
	.container {
		height: 100%;

		.personal-details {
			text-align: center;
			span {
				display: block;
				margin-top: 0.15rem;
				font-weight: bold;
			}
		}
	}
}
