#home-header {
	width: 100%;
	background-color: #131b44;
	background-image: url("/Images/Backgrounds/gc_2.jpg");
	margin: 0;
	height: 30rem;
	display: inline-block;
	span,
	h2 {
		color: white;
		padding-left: 5%;
	}
	.container {
		height: 100%;
	}
}