@page
@model PersonalBlog.Pages.AboutModel
@{
	ViewData["Title"] = "About Me";
}
@section Header{
<section class="nav-background">
</section>
}
<article>
	<section class="blog-body-container">
		<section class="blog-body">
			@Html.Raw(Model.AboutContent)
		</section>
	</section>
</article>