@page
@model BlogWebsite.Pages.AboutModel
@{
	ViewData["Title"] = "About Me";
}

<article>
	<section class="blog-body-container">
		<section class="blog-body">
			@Html.Raw(Model.AboutContent)
		</section>
	</section>
</article>