@page
@model PersonalBlog.Pages.BlogListModel

@{
	ViewData["Title"] = "Blogs";
}
@section Header{
	<section id="blog-list-header">
		<section class="container">
			<h2>Kaelan Reece Blog</h2>
			<span>Tech, Games, Modding</span>
		</section>
	</section>
	<section class="nav-background">
	</section>
}

@if (Model.SearchString != null)
{
	<section class="container">
		<h1>Results for '@Model.SearchString'</h1>
	</section>
}

<form class="blog-search">
	<input type="text" asp-for="SearchString" placeholder="Search Blogs..." />
	<div class="search-icon-wrapper">
		<input type="submit" class="search-icon" value="" />
	</div>
</form>

@{
	var SearchPart = (Model.SearchString != null ? ($"&searchString={Model.SearchString}") : "");
}

@if (Model.Blogs.Count() > 0)
{
	<component type="typeof(Components.BlogList)" render-mode="Static" param-blogs="@Model.Blogs" />

	<section class="pagination">
		@if (Model.PageNum - 1 < 1)
		{
			<img src="/Images/Icons/chevron.svg" class="icon flipped"/>
		} else {
			<a href="?pageNum=@(Model.PageNum - 1)" class="icon">
				<img src="/Images/Icons/chevron.svg" class="icon flipped"/>
			</a>
		}

		<span>Page @Model.PageNum of @Model.TotalPages</span>
		@if (Model.PageNum + 1 > Model.TotalPages)
		{
			<img src="/Images/Icons/chevron.svg" class="icon"/>
		} else {
			<a href="?pageNum=@(Model.PageNum + 1)" class="icon">
				<img src="/Images/Icons/chevron.svg" class="icon"/>
			</a>
		}
	</section>
}

else
{
	<section class="container">
		<h2>No Blogs Found</h2>
	</section>
}