@page
@model BlogWebsite.Pages.BlogListModel

@{
	ViewData["Title"] = "Blogs";
}

@*<input type="text" placeholder="Search Blogs..." />*@
<section id="blog-list-header">
	<h2>Kaelan Reece Blog</h2>
	<span>Tech, Games, Modding</span>
</section>
<component type="typeof(Components.BlogList)" render-mode="Static" param-blogs="@Model.Blogs" />