@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}

<section class="container">
	<h1>Recent Posts</h1>
</section>
<component type="typeof(Components.BlogList)" render-mode="Static" param-blogs="@Model.Blogs" />
