@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}

<section id="home-header">
	<section class="container">
		<h2>Hi, I'm Kaelan Reece</h2>
		<span>Software Engineer</span>
		<span>Brisbane, Australia</span>
	</section>
</section>
<section class="container">
	<h1>Recent Posts</h1>
</section>
<component type="typeof(Components.BlogList)" render-mode="Static" param-blogs="@Model.Blogs" />
