@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}
@using BlogWebsite.Models;

<section id="blog-list-header">
	<h1>Recent Posts</h1>
</section>
<component type="typeof(Components.BlogList)" render-mode="Static" param-blogs="@Model.Blogs" />
